<section id="about" class="section">
  <div class="customContainer">
    <h3 class="section-title">
      NEDEN <span class="text-amber-600">FARKLIYIZ</span>
    </h3>
    <div class="section-title-border mb-8"></div>
    <p class="text-center max-w-5xl mx-auto text-slate-800">
      Mimari, inşaat, peyzaj ve proje yönetimini tek çatı altında topluyoruz.
      Her projeye estetik, işlevsellik ve sürdürülebilirlik katıyoruz. Süreci
      baştan sona kontrol ediyor, detaylarda fark yaratıyoruz. Sadece bina
      değil, yaşam alanı inşa ediyoruz.
    </p>
    <!-- About Content -->
    <div class="w-full mt-16 grid md:grid-cols-2 grid-cols-1 gap-6">
      <div id="accordion" class="flex flex-col gap-4">
        <!-- Accordion-1 -->
        <div class="border-white rounded-sm overflow-hidden">
          <button class="accordion-btn group">
            <span
              class="accordion-title group-hover:text-amber-500 transition-all duration-300"
              >Neden Biz</span
            >
            <i
              class="fa-solid fa-plus group-hover:text-amber-500 transition-all duration-300"
            ></i>
          </button>
          <div class="accordion-content">
            <p class="py-4 text-gray-600">
              Disiplinler arası yaklaşımımızla fark yaratıyoruz. Her projeye
              özel stratejiler geliştiririz. Kalite, estetik ve güvenilirlik
              bizim temel değerlerimizdir. Uzun vadeli çözümler sunar,
              detaylarda mükemmeli hedefleriz.
            </p>
          </div>
        </div>

        <!-- Accordion-2 -->
        <div class="border-white rounded-sm overflow-hidden">
          <button class="accordion-btn group">
            <span
              class="accordion-title group-hover:text-amber-500 transition-all duration-300"
              >Müşteri Odaklı Yaklaşım</span
            >
            <i
              class="fa-solid fa-plus group-hover:text-amber-500 transition-all duration-300"
            ></i>
          </button>
          <div class="accordion-content">
            <p class="py-4 text-gray-600">
              İhtiyaçları ve beklentileri en iyi şekilde analiz ederiz. Sürece
              müşterilerimizi dahil eder, karşılıklı güven oluştururuz.
              Talepleri sadece yerine getirmez, beklentilerin ötesine geçeriz.
              İşbirliğine dayalı bir proje anlayışını benimseriz.
            </p>
          </div>
        </div>

        <!-- Accordion-3 -->
        <div class="border-white rounded-sm overflow-hidden">
          <button class="accordion-btn group">
            <span
              class="accordion-title group-hover:text-amber-500 transition-all duration-300"
              >Sürdürülebilirlik</span
            >
            <i
              class="fa-solid fa-plus group-hover:text-amber-500 transition-all duration-300"
            ></i>
          </button>
          <div class="accordion-content">
            <p class="py-4 text-gray-600">
              Çevresel etkileri azaltmayı amaçlayan çözümler geliştiririz.
              Enerji verimliliği ve malzeme bilinci ile projeler üretiriz.
              Geleceğe değer katan yapılar tasarlamak önceliğimizdir. Doğayla
              uyumlu kentleşme anlayışını benimseriz.
            </p>
          </div>
        </div>

        <!-- Accordion-4 -->
        <div class="border-white rounded-sm overflow-hidden">
          <button class="accordion-btn group">
            <span
              class="accordion-title group-hover:text-amber-500 transition-all duration-300"
              >Teknoloji ve İnovasyon</span
            >
            <i
              class="fa-solid fa-plus group-hover:text-amber-500 transition-all duration-300"
            ></i>
          </button>
          <div class="accordion-content">
            <p class="py-4 text-gray-600">
              En yeni yazılım ve teknolojileri projelerimize entegre ederiz. BIM
              ve 3D modelleme gibi yöntemlerle verimliliği artırırız. Yenilikçi
              çözümlerle zaman ve maliyetten tasarruf sağlarız. Tasarımdan
              uygulamaya kadar dijital destek sunarız.
            </p>
          </div>
        </div>
      </div>

      <div>
        <!-- Swiper -->
        <div class="swiper mySwiper w-full h-full rounded-sm">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="src/images/aboutBg.jpg" alt="Görsel 1" loading="lazy" />
            </div>
            <div class="swiper-slide">
              <img
                src="src/images/aboutBg2.jpg"
                alt="Görsel 2"
                loading="lazy"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="src/images/aboutBg3.jpg"
                alt="Görsel 3"
                loading="lazy"
              />
            </div>
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full aboutVideoBg py-40 md:py-56 relative mt-20">
    <div class="absolute inset-0 bg-black/70 z-0"></div>
    <div class="relative z-10 flex flex-col items-center gap-6">
      <div
        class="md:w-24 md:h-24 w-20 h-20 border-2 border-white rounded-full flex items-center justify-center"
      >
        <!-- Company Video -->
        <a
          href="src/videos/heroBgVideo.mp4"
          class="glightbox-video bg-white md:w-14 md:h-14 w-10 h-10 flex items-center justify-center rounded-full"
          aria-label="Videoyu Aç"
        >
          <i class="fa-solid fa-play text-lg md:text-xl"></i>
        </a>
      </div>
      <h3
        class="text-white text-center text-2xl sm:text-3xl md:text-4xl font-bold"
      >
        Hayalleri Gerçeğe Dönüştürüyoruz.
      </h3>
    </div>
  </div>
  <div class="relative customContainer mt-4 lg:-mt-32 bg-transparent z-20">
    <div
      class="py-20 bg-white shadow-sm grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-x-8 gap-y-14"
    >
      <div
        class="flex flex-col items-center justify-center gap-4 text-center lg:border-r-2 lg:border-r-amber-600"
      >
        <p class="text-4xl font-semibold text-amber-600">1994</p>
        <div class="section-title-border mb-0 mt-0"></div>
        <p class="text-2xl font-semibold">Kuruluş Yılı</p>
      </div>
      <div
        class="flex flex-col items-center gap-4 text-center lg:border-r-2 lg:border-r-amber-600"
      >
        <p class="text-4xl font-semibold text-amber-600">1176</p>
        <div class="section-title-border mb-0 mt-0"></div>
        <p class="text-2xl font-semibold">Tamamlanan Proje</p>
      </div>
      <div
        class="flex flex-col items-center gap-4 text-center lg:border-r-2 lg:border-r-amber-600"
      >
        <p class="text-4xl font-semibold text-amber-600">237</p>
        <div class="section-title-border mb-0 mt-0"></div>
        <p class="text-2xl font-semibold">Çalışan</p>
      </div>
      <div class="flex flex-col items-center gap-4 text-center">
        <p class="text-4xl font-semibold text-amber-600">23</p>
        <div class="section-title-border mb-0 mt-0"></div>
        <p class="text-2xl font-semibold">İş Ortakları</p>
      </div>
    </div>
  </div>
</section>
