<section id="contact" class="section bg-white">
  <div class="customContainer">
    <h3 class="section-title">İLETİŞİME GEÇİN</h3>
    <div class="section-title-border mb-8"></div>
    <p class="text-center max-w-5xl mx-auto text-slate-800">
      Projelerinizde birlikte çalışmak ya da hizmetlerimiz hakkında detaylı
      bilgi almak için bizimle iletişime geçebilirsiniz. Size en kısa sürede
      dönüş sağlamaktan memnuniyet duyarız.
    </p>
    <div class="w-full mt-16 grid md:grid-cols-2 grid-cols-1 gap-20">
      <!-- Contact Form -->
      <form action="#">
        <div class="flex flex-col gap-3">
          <div class="grid lg:grid-cols-2 grid-cols-1 gap-2">
            <input type="text" name="" placeholder="İsim" id="" required />
            <input type="text" name="" placeholder="Soyisim" id="" required />
          </div>
          <div class="grid lg:grid-cols-2 grid-cols-1 gap-2">
            <input
              type="tel"
              name=""
              placeholder="Telefon Numarası"
              id=""
              required
            />
            <input type="email" name="" placeholder="Email" id="" required />
          </div>
          <textarea name="" rows="10" id="" required> </textarea>
          <div>
            <button
              type="submit"
              class="btn inline bg-cyan-900 hover:bg-white hover:ring-2 hover:ring-cyan-900 hover:text-cyan-900"
            >
              Gönder
            </button>
          </div>
        </div>
      </form>
      <!-- contact information -->
      <div class="flex flex-col gap-8">
        <div class="flex gap-3 items-center">
          <div class="group contact-icon-container">
            <i
              class="fa-solid fa-location-pin text-white text-3xl sm:text-4xl transition group-hover:text-cyan-900"
            ></i>
          </div>
          <div class="flex flex-col gap-1 sm:gap-2">
            <p class="text-lg sm:text-2xl">Merkez Binası</p>
            <address class="not-italic">
              Atatürk Mahallesi,İstiklal Sokak, Ataşehir/İstanbul
            </address>
          </div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="group contact-icon-container">
            <i
              class="fa-solid fa-phone-volume text-white text-3xl sm:text-4xl transition group-hover:text-cyan-900"
            ></i>
          </div>
          <div class="flex flex-col gap-1 sm:gap-2">
            <p class="text-lg sm:text-2xl">Telefon</p>
            <p>+90 552 xxx xx xx</p>
          </div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="group contact-icon-container">
            <i
              class="fa-solid fa-envelope text-white text-3xl sm:text-4xl transition group-hover:text-cyan-900"
            ></i>
          </div>
          <div class="flex flex-col gap-1 sm:gap-2">
            <p class="text-lg sm:text-2xl">Gmail</p>
            <p>Sahmeran1999@gmail.com</p>
          </div>
        </div>
        <div class="flex gap-3 items-center">
          <div class="group contact-icon-container">
            <i
              class="fa-solid fa-thumbs-up text-white text-3xl sm:text-4xl transition group-hover:text-cyan-900"
            ></i>
          </div>
          <div class="flex flex-col gap-1 sm:gap-2">
            <p class="text-lg sm:text-2xl">Sosyal Medya</p>
            <div class="flex gap-3 text-xl text-cyan-900">
              <a href=""><i class="fa-brands fa-square-instagram"></i></a>
              <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
              <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              <a href=""><i class="fa-brands fa-square-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
