<header
  id="mainHeader"
  class="fixed left-0 top-0 w-full bg-black/30 z-50 transition-all duration-300"
>
  <div
    class="customContainer py-6 md:py-8 flex items-center justify-between text-soft-gray"
  >
    <!-- Logo -->
    <h1
      class="logo text-xl md:text-2xl font-medium tracking-wide cursor-pointer"
    >
      <span class="text-amber-600 font-bold">Ş</span>ahmeran
      <span class="text-amber-600 font-bold">Y</span>apı
    </h1>

    <!-- Menu -->
    <nav class="hidden lg:block pt-2">
      <!-- Menu Items -->
      <ul class="menuItems flex items-center gap-6 tracking-wide font-medium">
        <li>
          <a href="#services" class="relative group" data-section="services">
            Hizmetler
            <span class="hoverSpanEffect group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="#projects" class="relative group" data-section="projects">
            Projeler
            <span class="hoverSpanEffect group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="#about" class="relative group" data-section="about">
            Hakkımızda
            <span class="hoverSpanEffect group-hover:w-full"></span>
          </a>
        </li>

        <li>
          <a
            href="#testimonials"
            class="relative group"
            data-section="testimonials"
          >
            Referanslar
            <span class="hoverSpanEffect group-hover:w-full"></span>
          </a>
        </li>
        <li>
          <a href="#contact" class="relative group" data-section="contact">
            İletişim
            <span class="hoverSpanEffect group-hover:w-full"></span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Hamburger Menu İcon -->
    <div class="lg:hidden">
      <button id="menuToggle" class="text-2xl md:text-3xl text-soft-gray">
        &#9776;
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobileMenu"
    class="fixed top-0 right-0 w-full h-full bg-black text-soft-gray transition-transform duration-500 ease-in-out translate-x-full"
  >
    <div class="flex justify-between items-center p-6">
      <!-- Logo -->
      <h1
        class="logo text-xl md:text-2xl font-medium tracking-wide mobile-logo"
      >
        <span class="text-amber-600 font-bold">Ş</span>ahmeran
        <span class="text-amber-600 font-bold">Y</span>apı
      </h1>

      <button id="closeMenu" class="text-4xl">&times;</button>
    </div>

    <!-- Menu Items -->
    <div
      id="mobileLinks"
      class="flex flex-col items-center gap-8 justify-center mt-12 text-2xl font-medium"
    >
      <a data-section="services" href="#services" class="text-center relative"
        >Hizmetler <span class="hoverSpanEffect"></span
      ></a>
      <a data-section="projects" href="#projects" class="text-center relative"
        >Projeler <span class="hoverSpanEffect"></span
      ></a>
      <a data-section="about" href="#about" class="text-center relative"
        >Hakkımızda <span class="hoverSpanEffect"></span
      ></a>
      <a
        data-section="testimonials"
        href="#testimonials"
        class="text-center relative"
        >Referanslar<span class="hoverSpanEffect"></span
      ></a>
      <a data-section="contact" href="#contact" class="text-center relative"
        >İletişim <span class="hoverSpanEffect"></span
      ></a>
    </div>
  </div>
</header>
