<!-- Hero Section -->
<section class="heroSection w-full relative">
  <div class="absolute inset-0 bg-black/70 z-0"></div>

  <!-- Hero Content -->
  <div
    class="relative h-screen z-10 flex flex-col items-center justify-center text-center text-white px-4 pt-[305px] pb-[275px] md:pt-[330px] md:pb-[300px]"
  >
    <h2 class="text-4xl sm:text-5xl md:text-7xl font-bold tracking-wide mb-4">
      Geleceği İnşa Ediyoruz
    </h2>
    <p class="text-xl md:text-2xl max-w-2xl font-medium">
      Mükemmel Fikirler - Harika Çözümler - Kusursuz Sonuçlar
    </p>
    <a href="#projects" class="mt-6 btn hover:bg-amber-600">
      Projelerimizi İncele
    </a>
  </div>
</section>
