<!-- Projects -->
<section id="projects" class="section bg-white">
  <div class="customContainer">
    <h3 class="section-title">ÇALIŞMALARIMIZ</h3>
    <div class="section-title-border"></div>
    <div class="mb-8 md:mb-16">
      <!-- Filter Buttons -->
      <div class="filter-controls flex flex-wrap justify-center gap-8 text-lg">
        <button class="filter group" data-filter="all">
          Hepsi
          <span class="hoverSpanEffect group-hover:w-full"></span>
        </button>
        <button class="filter group" data-filter=".architecture">
          Mimari
          <span class="hoverSpanEffect group-hover:w-full"></span>
        </button>
        <button class="filter group" data-filter=".building">
          İnşaat
          <span class="hoverSpanEffect group-hover:w-full"></span>
        </button>
        <button class="filter group" data-filter=".landscape">
          Peyzaj
          <span class="hoverSpanEffect group-hover:w-full"></span>
        </button>

        <button
          class="filter relative group transition-all duration-300 hover:text-amber-600"
          data-filter=".interior-design"
        >
          İç Dizayn
          <span class="hoverSpanEffect group-hover:w-full"></span>
        </button>
      </div>
      <!-- Projects Gallery -->
      <div
        class="gallery grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-2 mt-12 overflow-hidden"
        id="mix-gallery"
      >
        <!-- Architecture -->
        <div class="mix architecture">
          <a
            href="src/images/mimari2desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/mimari2phone.jpg"
              alt="Mimari Proje"
              loading="lazy"
            />
          </a>
        </div>

        <div class="mix architecture">
          <a
            href="src/images/mimari4desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/mimari4mobile.jpg"
              alt="Mimari Proje"
              loading="lazy"
            />
          </a>
        </div>
        <div class="mix architecture">
          <a
            href="src/images/mimari5desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/mimari5mobile.jpg"
              alt="Mimari Proje"
              loading="lazy"
            />
          </a>
        </div>
        <!-- building -->
        <div class="mix building">
          <a
            href="src/images/insaat1desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/instaat1mobile.jpg"
              alt="İnşaat Projesi"
              loading="lazy"
            />
          </a>
        </div>
        <div class="mix building">
          <a
            href="src/images/insaat2desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/insaat2mobile.jpg"
              alt="İnşaat Projesi"
              loading="lazy"
            />
          </a>
        </div>

        <!-- landscape -->
        <div class="mix landscape">
          <a
            href="src/images/bahce1desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/bahce1mobile.jpg"
              alt="Peyzaj Projesi"
              loading="lazy"
            />
          </a>
        </div>
        <div class="mix landscape">
          <a
            href="src/images/bahce2desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/bahce2mobile.jpg"
              alt="Peyzaj Projesi"
              loading="lazy"
            />
          </a>
        </div>

        <!-- interior design -->
        <div class="mix interior-design">
          <a
            href="src/images/evdizayn1desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/evdizayn1mobile.jpg"
              alt="İç Dizayn"
              loading="lazy"
            />
          </a>
        </div>
        <div class="mix interior-design">
          <a
            href="src/images/evdizayn2desktop.jpg"
            class="glightbox"
            data-gallery="gallery1"
          >
            <img
              src="src/images/evdizayn2mobile.jpg"
              alt="İç Dizayn"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <a href="#contact" class="btn hover:bg-amber-600"> Detaylı Bilgi Al </a>
    </div>
  </div>
</section>
