<!-- Testimonials -->
<section id="testimonials" class="section bg-slate-900">
  <div class="customContainer">
    <h3 class="section-title text-white">SİZDEN GELENLER</h3>
    <div class="section-title-border"></div>
    <div class="swiper myTestimonialSwiper min-h-80">
      <div class="swiper-wrapper text-white">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <img
            src="src/images/customer1.jpg"
            class="w-20 h-20 rounded-full"
            alt=""
            loading="lazy"
          />
          <p class="text-xl sm:text-2xl text-soft-gray">
            Projemiz zamanında ve sorunsuz teslim edildi. Ekip çok profesyonel,
            süreç boyunca her detayı titizlikle yönettiler. Çok memnunuz.
          </p>
          <span class="text-lg sm:text-xl">- Ali Y.</span>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <img
            src="src/images/customer2.jpg"
            class="w-20 h-20 rounded-full"
            alt=""
            loading="lazy"
          />
          <p class="text-xl sm:text-2xl text-soft-gray">
            Başından sonuna kadar her şey planlı ve şeffaf ilerledi. Tüm
            beklentilerimizi karşıladılar. Gönül rahatlığıyla tavsiye ederim.
          </p>
          <span class="text-lg sm:text-xl">- Buse Ş.</span>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <img
            src="src/images/customer3.jpg"
            class="w-20 h-20 rounded-full"
            alt=""
            loading="lazy"
          />
          <p class="text-xl sm:text-2xl text-soft-gray">
            Mimari tasarımları hem işlevsel hem de estetikti. Süreç boyunca
            sürekli bilgilendirildik. Hizmet kalitesi gerçekten çok yüksek.
          </p>
          <span class="text-lg sm:text-xl">- Dilek D.</span>
        </div>
      </div>

      <!-- Pagination -->
      <div class="py-10">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
