@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Base UI components */
  .btn {
    @apply px-6 py-3 bg-amber-500  text-white rounded-lg text-lg transition;
  }
  .customContainer {
    @apply max-w-7xl mx-auto xl:px-0 px-8;
  }
  .section {
    @apply py-16 md:py-24 scroll-mt-20 md:scroll-mt-24;
  }
  .section-title {
    @apply text-center text-2xl sm:text-3xl md:text-4xl font-semibold;
  }
  .section-title-border {
    @apply w-20 h-[2px] bg-amber-600 rounded-lg mx-auto mt-4 mb-12 md:mb-20;
  }
  .hoverSpanEffect {
    @apply absolute left-0 -bottom-1 w-0 h-[2px] bg-amber-600 transition-all duration-300;
  }
  /* Header Section*/
  .menuItems li a.active span,
  #mobileLinks a.active span {
    @apply w-full;
  }

  /* Services Section */
  .services-card {
    @apply p-4 h-full flex gap-6 transition-all duration-300 hover:shadow-md hover:rounded-md;
  }

  .services-card-content {
    @apply flex flex-col gap-3;
  }
  .services-card-title {
    @apply text-lg sm:text-xl font-semibold transition-colors duration-300 hover:text-amber-600 cursor-pointer;
  }
  /* Projects Section */
  .mix {
    @apply aspect-[4/3] overflow-hidden;
  }
  .gallery img {
    @apply w-full h-full object-cover transition-transform duration-500 ease-in-out transform hover:scale-110;
  }
  .filter-controls button {
    @apply relative  transition-all duration-300 hover:text-amber-600;
  }
  /* About */
  .accordion-btn {
    @apply w-full text-left px-6 py-4 flex items-center justify-between font-semibold text-lg bg-white shadow-xl;
  }
  .accordion-content {
    @apply max-h-0 overflow-hidden transition-all duration-500 ease-in-out px-6 bg-white shadow-xl;
  }
  #about .swiper-wrapper img {
    @apply w-full h-full object-cover rounded-sm;
  }
  /* testimonials */
  #testimonials .swiper-slide {
    @apply flex flex-col items-center justify-center gap-6  text-center md:px-16 px-0;
  }
  /* contact */
  #contact input,
  #contact textarea {
    @apply text-lg border border-cyan-900/30 outline-0 rounded-lg py-[9px] px-4 transition-all duration-200 focus:ring-1 focus:ring-cyan-900/40;
  }
  #contact .contact-icon-container {
    @apply bg-cyan-900 sm:w-16 sm:h-16 h-12 w-12 rounded-md shadow-sm flex items-center justify-center transition hover:bg-white  hover:ring-1 hover:ring-cyan-900 flex-shrink-0;
  }
}

@layer utilities {
  .bg-common {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .heroSection {
    @apply bg-common;
    background-image: url("/src/images/heroBgF.jpg");
  }

  .aboutSection {
    @apply bg-common;
    background-image: url("/src/images/aboutBg3.jpg");
  }

  .aboutVideoBg {
    @apply bg-common;
    background-image: url("/src/images/mimari1Desktop.jpg");
    background-attachment: fixed;
  }

  .testimonialsBg {
    @apply bg-common;
    background-image: url("/src/images/mimari2desktop.jpg");
    background-attachment: fixed;
  }
}

.swiper-pagination-bullet {
  @apply bg-white opacity-50 w-2 h-2 inline-block rounded-full mx-1 transition-all;
}

.swiper-pagination-bullet-active {
  @apply bg-amber-500 opacity-100;
}

.glightbox-container.video-mode .gprev,
.glightbox-container.video-mode .gnext {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
